body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway' sans-serif; 
  color: #212121;
  }
  li {
    display: block;
  }
/* Header */
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  }
.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  }
.navigation > li >a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  }
.stud:hover {
  color: #2196F3
}
.studio_:hover {
  color: #2196F3
}
.port:hover {
  color: #2196F3
}
.cont:hover {
  color: #2196F3
}
.mail {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #2196F3;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.section {
      background-color: #2F303A;
  }
  .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.3;
  }
  .button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #2196F3;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
  }
  .button_chapters {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #F5F4FA;
    color: #212121;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
  }
  .button_chapters:hover {
    background: #2196F3;
    color: #ffffff;
  }
  .head_ > li >h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
  }
  .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
  }
  .headr {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
  }
  .team {
    background: #F5F4FA;
  }
  .team_ {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
  }
  .name >li >h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 16px;
    line-height: 1.12;
  }
  .profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 1.12;
  }

  .name_ >li >h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 18px;
    line-height: 2.0;
  }
  .type {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
  }

  .footer {
    background: #2F303A;
  }
  .studioo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 1.15;
    text-decoration: none;
  }
  .adres {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
  }
  .maill {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
  }
  .tell {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
  }